{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<style>

  .cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
</style>
<style>
  .form-outline {
      position: relative;
  }

  .form-outline input {
      padding: 10px 10px 10px 10px;
  }

  .form-outline label {
      position: absolute!important;
      top: -1px!important;
      left: 1px!important;
      transition: 0.2s!important;
      color: grey;
  }

  .form-outline input:focus + label,
  .form-outline input:not(:placeholder-shown) + label {
      top: -12px!important;
      font-size: 15px;
      color: black;
  }
</style>

<section class="text-center text-lg-start">
    

    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Registracija</h2>
              <form method="post">{% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name='first_name' id="form3Example1" class="form-control" placeholder=" "/>
                      <label class="form-label" for="form3Example1">Vardas</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name='last_name' id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Pavardė</label>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name='email' id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
                <!-- kv_nr input -->
                <div class="form-outline mb-4">
                    <input type="text" name='kv_nr' id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Kvalifikacijos pažymėjimas</label>
                  </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name='password1' id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Slaptažodis</label>
                </div>
                
                 <!-- Password input -->
                 <div class="form-outline mb-4">
                    <input type="password" name='password2' id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Slaptažodis</label>
                  </div>
                
                {% for field in registration_form %}
                <p>
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if registration_form.non_field_errors %}
                <div style="color: red">
                    <p>{{registration_form.non_field_errors}}</p>
                </div>
                
                {% endif %}

                <button type="submit" class="btn btn-dark btn-block mb-4">
                  Registruotis
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="{% static 'img/COLOURBOX31051049.png' %}" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
  </section>

{% endblock %}
